@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}

hr{
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}